package pages

import(
    "crow/frontend/mark/comp"
)


templ Home(loggedin bool){
    //nav
    @comp.Navbar()
    <div class="flex flex-col justify-center items-center min-h-screen">
        <h1 class="text-2xl text-blue-600 mt-3">DOMAIN EXPANSION</h1>
        <h2 class="text-3xl text-blue-800 mt-3">INFINIT VOID</h2>
        <button hx-post="/restartDatabase" hx-target="#restart" class="m-12 btn btn-warning">restart db</button>
        <div id="restart"></div>
        <div class="mt-12 flex justify-center gap-8">
            <a href="/posts" class="btn btn-lg btn-link btn-primary">view posts</a>
            if loggedin {
                <a href="/account" class="btn btn-lg btn-link btn-accent">account</a>
            } else {
                <a href="/sign" class="btn btn-lg btn-link btn-secondary">login / sign up</a>
            }
        </div>
        <button class="btn btn-outline btn-primary" hx-post="alpinetest" hx-target="#res">test alpine</button>
        <div id="res"></div>

    </div>
}