package forms


templ CreateCategory(){
    <div class="card bg-base-100 w-full max-w-lg mx-auto shadow-xl border border-base-300">
        <div class="card-body">
            <h2 class="card-title text-xl font-bold mb-4">Créer une nouvelle catégorie</h2>
            <div class="card bg-base-100 w-full max-w-lg mx-auto shadow-xl border border-base-300">
            <div class="card-body">
            <h2 class="card-title mb-4">Créer une catégorie</h2>
                        <form
            hx-post="/createCategory"
            hx-encoding="multipart/form-data"
            hx-target="#res2"
            hx-swap="innerHTML"
            class="space-y-4"
        >
            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">Nom de la catégorie</span>
                </label>

                <input
                    type="text"
                    name="CategoryName"
                    placeholder="ex: Micro-contrôleurs"
                    class="input input-bordered w-full"
                    required
                    minlength="2"
                    maxlength="150"
                />
            </div>

            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text">Image de la catégorie</span>
                </label>

                <input
                    type="file"
                    name="Image"
                    accept="image/*"
                    class="file-input file-input-bordered file-input-primary w-full"
                    required
                />
            </div>

            <button
                type="submit"
                class="btn btn-primary w-full mt-4"
            >
                Créer la catégorie
            </button>
        </form>

        <div id="res2"></div>
                
              </div>
            </div>
        </div>
    </div>
}