package comp


templ CreateUser(){
    <div class="">
        <form hx-post="/createUser" hx-target="#createUserRes" class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
          <legend class="fieldset-legend">Login</legend>
          <label class="label">name</label>
          <input type="text"      class="input" name="userName" placeholder="name" />
          <label class="label">Password</label>
          <input type="password"  class="input" name="Password" placeholder="Password" />
          <input type="text"    class="input" name="Access" placeholder="access">
          <button class="btn btn-neutral mt-4">Login</button>
        </form>
        <div id="createUserRes"></div>
        <div
            x-data="{ show: false, message: '' }"
            @success.window="show = true; message = 'Account created!'; setTimeout(() => show = false, 3000)"
            x-show="show"
        >
            <div class="alert alert-success" x-text="message"></div>
        </div>
    </div>
}