package comp

import(
    "crow/help/strs"
)


templ LogsMod(logs []strs.Log){
    <ul class="list bg-base-100 rounded-box shadow-md">

        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Most played songs this week</li>
          for _,v:=range logs {

        
              if v.Type == 1 {
                  <li class="list-row text-blue-600">
                        <h1>{v.Message}</h1>
                        <p>{v.CreatedAt}</p>
                  </li>
              }
              if v.Type == 2 {
                  <li class="list-row text-yellow-600">
                        <h1>{v.Message}</h1>
                        <p>{v.CreatedAt}</p>
                  </li>
              }
              if v.Type == 3 {
                  <li class="list-row text-red-600">
                        <h1>{v.Message}</h1>
                        <p>{v.CreatedAt}</p>
                  </li>
              }


          }
    </ul>
}