package comp

templ Navbar(){
    <div class="w-full flex justify-center items-center gap-6 h-12">
        <a href="/candidature">cadidats</a>
        <a href="/atelier">atelier</a>
        <a href="/contact">contact</a>
        <a href="/book">book</a>
        <a href="/projets">projets</a>
        <a href="/chief">chief</a>
        <a href="/star">star</a>
    </div>
}