package comp

import (
    "crow/help/strs"
    "crow/frontend/mark/comp/forms"
)


templ PartenairsMod(user *strs.User, partenairs []strs.Partenair) {

    <div class="w-full max-w-4xl mx-auto self-start min-h-screen">
        <div class="tabs tabs-border w-full">

            <input
                type="radio"
                name="my_tabs_2"
                class="tab"
                aria-label="Ajouter un Partenaire"
            />

            <div class="tab-content border-base-300 bg-base-100 p-6 md:p-10">
                @forms.CreatePartenair()
            </div>

            <input
                type="radio"
                name="my_tabs_2"
                class="tab"
                aria-label="Partenaires"
                checked="checked"
            />

            <div class="tab-content border-base-300 bg-base-100 p-6 md:p-10">
                @forms.Partenairs(partenairs)
            </div>

        </div>
    </div>
}