package comp

import(
    "crow/help/strs"
)

templ ProjectSection(projects []strs.ProjectWithCategory, limit int, offset int, con bool, category int){
    <div class="flex flex-wrap">
        for _,v := range projects {
            @projectDiv(v)
        }
    </div>
    if con {
        @more(limit, offset, category)
    }
}

templ projectDiv(p strs.ProjectWithCategory) {
    <div class="card bg-base-100 w-96 shadow-sm m-6">
      <figure>
        <img
          src={"/" + p.MImagePath}
          alt="Shoes" 
          loading="lazy"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{p.ProjectName}</h2>
        <h1>{p.CategoryName}</h1>
        <p>{p.Description}</p>
      </div>
    </div>
}

templ more(limit int, offset int, category int){
    <form hx-post="/moreProjects" hx-target="this" hx-swap="outerHTML">
        <input type="text"   class="hidden" name="offset"   value={offset}>
        <input type="text"   class="hidden" name="limit"    value={limit}>
        <input type="number" class="hidden" name="category" value={category}>
        <button class="btn btn-accent">more projects</button>
    </form>
}